﻿@model sample.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    @*height:<input type="text" name="hh" value="" /> cm<br />
        weight:<input type="text" name="ww" value="" /> kg<br />*@
    @*@*height:@Html.TextBoxFor(d => d.Height)cm @ViewBag.herror<br />
        weight:@Html.TextBoxFor(d => d.Weight)kg @ViewBag.werror<br />*@
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(d => d.Height)cm 
    @Html.ValidationMessageFor(modelItem=>@Model.Height) <br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)kg 
    @Html.ValidationMessageFor(modelItem => @Model.Weight ) <br />
    <input type="submit" name="name" value="send" />
</form>

<br />
計算結果： @Model.BMI<br />
等級： @Model.level
